
@media (min-width: 851px) and (max-width: 1150px) {
  #skills {
    gap: 45px;
  }

  .skills__title {
    padding: 10px 40px;
    font-size: 16pt;
  }

  .skill-title, .achievements__title {
    letter-spacing: 4px;
    font-size: 16pt;
  }

  section .card-container {
    width: 90%;
  }
  
  .portfolio__project {
    flex-direction: column;
  }

  .portfolio__img {
    width: 70%;
    max-width: 550px;
  }

  .portfolio__project:nth-child(2n) > .portfolio__img {
    order: 1;
  }

  .portfolio__project:nth-child(2n) > .portfolio__description {
    order: 2;
  }

  .card-container > .card {
    width: 30%;
  }

  .card > .card__info {
    font-size: 16pt;
  }

  .achievements__card > .card__info {
    font-size: 14pt;
    letter-spacing: 2px;
  }
  
}

@media (min-width: 851px) and (max-width: 950px) {
	
}
