
@media (max-width: 400px) {
    * {
      --default-padding: 30px;
      --heading-font-size: 20pt;
      --info-font-size: 12pt;
    }
    .nav__logo {
      width: 40px;
    }
    #header {
      flex-direction: column;
      gap: 20px;
      padding-top: 110px;
    }
    #header > .header__img {
      order: 1;
      margin-left: 15px;
    } 
    #header > .header__info {
      order: 2;
      text-align: center;
    }
    .header__info > span {
      font-size: 12pt;
    }
    .header__info > .header__my-name {
      font-size: 18pt;
    }
    .header__info > .header__my-job {
      font-size: 10pt;
    }
    .header__info > .header__network {
      gap: 20px;
      margin: auto;
      margin-top: 20px;
    }
    .header__network > .header__list {
      width: 55px;
      height: 50px;
      line-height: 50px;
    }
    .header__network > .header__list > .header__link {
      font-size: 30px;
    }
    .about_me__info {
      line-height: 20pt;
    }
  
    section {
      padding: 50px 20px 20px;
    }
  
    #skills {
      gap: 40px;
    }
  
    .skills__title {
      padding: 10px 40px;
      font-size: 16pt;
    }
  
    .skill-title, .achievements__title {
      letter-spacing: 4px;
      font-size: 14pt;
    }
  
    section .card-container {
      width: 100%;
    }
  
    .card-container > .card {
      width: 80%;
    }
  
    .card > .card__info {
      font-size: 15pt;
    }
  
    .achievements__card > .card__info {
      font-size: 12pt;
      letter-spacing: 2px;
    }
  
    .portfolio__projects {
      margin-top: 50px;
      padding: 50px 8px;
    }
  
    .portfolio__project {
      flex-direction: column;
    }
  
    .portfolio__img {
      width: 100%;
    }
  
    .portfolio__project:nth-child(2n) > .portfolio__img {
      order: 1;
    }
  
    .portfolio__project:nth-child(2n) > .portfolio__description {
      order: 2;
    }
  
    .portfolio__description > .portfolio__info {
      font-size: 13pt;
      max-height: 260px;
      overflow: auto;
    }
  
    .portfolio__link {
      font-size: 11pt;
      padding: 10px 20px;
    }
  
    .footer__title {
      font-size: 18pt;
    }
  
    .footer__links {
      width: 85%;
    }
  
    .footer__link {
      width: 40px;
      height: 40px;
    }
  
    .footer__link > i {
      font-size: 20pt;
      line-height: 40px;
    }
  
    .footer__info {
      letter-spacing: 1px;
      font-size: 8pt;
    }
  }
  