
@media (min-width: 751px) and (max-width: 850px) {
  * {
    --info-font-size: 14pt;
  }
  .header__info > span {
    font-size: 15pt;
  }
  .header__info > .header__my-name {
    font-size: 27pt;
  }
  .header__info > .header__network {
    gap: 40px;
    margin-top: 20px;
  }
  .header__network > .header__list {
    width: 65px;
    height: 65px;
    line-height: 65px;
  }
  .header__network > .header__list > .header__link {
    font-size: 35px;
  }

  
  #skills {
    gap: 40px;
  }

  .skills__title {
    padding: 10px 40px;
    font-size: 16pt;
  }

  .skill-title, .achievements__title {
    letter-spacing: 4px;
    font-size: 14pt;
  }

  section .card-container {
    width: 100%;
  }

  .card-container > .card {
    width:45%;
  }

  .card > .card__info {
    font-size: 15pt;
  }

  .achievements__card > .card__info {
    font-size: 13pt;
    letter-spacing: 2px;
  }

  .portfolio__project {
    flex-direction: column;
  }

  .portfolio__img {
    width: 60%;
  }

  .portfolio__project:nth-child(2n) > .portfolio__img {
    order: 1;
  }

  .portfolio__project:nth-child(2n) > .portfolio__description {
    order: 2;
  }

  .portfolio__description > .portfolio__info {
    font-size: 15pt;
    line-height: 22pt;
    max-height: 280px;
    overflow: auto;
  }
}