
@media (min-width: 851px) and (max-width: 1150px) {
  #skills {
    gap: 45px;
  }

  .skills__title {
    padding: 10px 40px;
    font-size: 16pt;
  }

  .skill-title, .achievements__title {
    letter-spacing: 4px;
    font-size: 16pt;
  }

  section .card-container {
    width: 90%;
  }

  .card-container > .card {
    width: 30%;
  }

  .card > .card__info {
    font-size: 16pt;
  }

  .achievements__card > .card__info {
    font-size: 14pt;
    letter-spacing: 2px;
  }
  
}