@media (min-width: 601px) and (max-width: 750px) {
  * {
    --default-padding: 55px;
    --heading-font-size: 24pt;
    --info-font-size: 14pt;
  }
  .nav__logo {
    width: 50px;
  }
  #header {
    flex-direction: column;
    gap: 35px;
    padding-top: 110px;
  }
  #header > .header__img {
    order: 1;
    margin-left: 15px;
    width: 50%;
  }
  #header > .header__info {
    order: 2;
    text-align: center;
  }
  .header__info > span {
    font-size: 16pt;
  }
  .header__info > .header__my-name {
    font-size: 26pt;
    max-width: 90%;
    margin: auto;
  }
  .header__info > .header__my-job {
    font-size: 13pt;
    margin: auto;
  }
  .header__info > .header__network {
    gap: 40px;
    margin: auto;
    margin-top: 20px;
  }
  .header__network > .header__list {
    width: 75px;
    height: 75px;
    line-height: 75px;
  }
  .header__network > .header__list > .header__link {
    font-size: 40px;
  }

  #skills {
    gap: 40px;
  }

  .skills__title {
    padding: 10px 40px;
    font-size: 16pt;
  }

  .skill-title,
  .achievements__title {
    letter-spacing: 4px;
    font-size: 14pt;
  }

  section .card-container {
    width: 100%;
  }

  .card-container > .card {
    width: 45%;
  }

  .card > .card__info {
    font-size: 15pt;
  }

  .achievements__card > .card__info {
    font-size: 13pt;
    letter-spacing: 2px;
  }

  .portfolio__project {
    flex-direction: column;
  }

  .portfolio__img {
    width: 80%;
  }

  .portfolio__project:nth-child(2n) > .portfolio__img {
    order: 1;
  }

  .portfolio__project:nth-child(2n) > .portfolio__description {
    order: 2;
  }

  .portfolio__description > .portfolio__info {
    font-size: 14pt;
    line-height: 20pt;
    max-height: 280px;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-color: #39e8c873 transparent;
    scrollbar-width: thin !important;
  }
}
