@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
  --primary-color: #39e8c7;
  --primary-color-shadow: #39e8c852;
  --primary-color-dark: #0e6958;
  --secondary-color: #0b0b0b;
  --secondary-color-shadow: #0b0b0bb0;
  --text-color: white;
  --text-color-shadow: rgba(255, 255, 255, 0.659);
  --blue-green-mixed: linear-gradient(
    351deg,
    rgba(8, 255, 115, 1) 0%,
    rgba(8, 213, 255, 1) 100%
  );
  --default-padding: 65px;
  --heading-font-size: 24pt;
  --info-font-size: 16pt;
}

@keyframes ElementScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateTriangle {
  0% {
    transform: rotate(-85deg);
  }
  50% {
    transform: rotate(-105deg);
  }
  100% {
    transform: rotate(-85deg);
  }
}

@keyframes animatePattern {
  0% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(80deg);
  }
}

html {
  scroll-behavior: smooth;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 7px !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) !important;
  border-radius: 50px !important;
}

::-webkit-scrollbar-track {
  background-color: rgb(38, 38, 38) !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: var(--text-color);
  background: radial-gradient(
    circle,
    rgb(58, 58, 58) 0%,
    rgb(28, 28, 28) 70%,
    rgba(11, 11, 11, 1) 100%
  );
  min-height: 100dvh;
  width: 100%;
  display: grid;
}

a,
a.link {
  color: var(--text-color);
  text-decoration: none;
}

ul > li,
.card,
.list_item,
li {
  list-style: none;
}

/* NAVBAR */
#nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px var(--default-padding);
  background: var(--secondary-color-shadow);
  backdrop-filter: blur(12px);
  z-index: 999;
}

.nav__logo {
  width: 50px;
}

/* NAV LIST */

#nav > .nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.nav__list > .nav__item {
  list-style: none;
  display: block;
}

.nav__list > .nav__item > .nav__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 17px;
  font-weight: 500;
  transition-property: color;
  transition: 0.4s ease;
  position: relative;
}

.nav__list > .nav__item > .nav__link:hover {
  color: var(--primary-color);
}

.nav__list > .nav__item:last-child > .nav__link {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition-property: color;
  transition: 0.6s ease;
}

.nav__list > .nav__item:last-child > .nav__link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* NAV OVERLAY */

#nav__overlay-menu-bars {
  cursor: pointer;
  font-size: 25pt;
  z-index: 101;
}

#nav > .overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  padding: 90px 0;
  z-index: 100;
  background-color: #0b0b0be6;
  backdrop-filter: blur(13px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.4s ease;
}

.overlay > .nav__item {
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--text-color);
  text-align: center;
  font-size: 18pt;
  transition: 0.4s ease;
  position: relative;
}

.overlay > .nav__item > .nav__link {
  display: block;
  padding: 15px 55px;
  color: var(--text-color);
  transition: 0.4s ease;
}

.overlay > .nav__item > .nav__link > .new-badge {
  right: 5px;
  top: 5px;
  font-size: 8pt;
}

.overlay > .nav__item > .nav__link:hover {
  color: var(--primary-color);
}

.overlay > .nav__item:last-child > .nav__link {
  padding: 20px 55px;
  border-radius: 0;
}

/* HEADER */

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--default-padding);
  padding-top: 140px;
  padding-bottom: 70px;
  width: 100%;
  min-height: 560px;
  height: fit-content;
  background: linear-gradient(
      135deg,
      var(--secondary-color),
      var(--secondary-color-shadow)
    ),
    url("../img/wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.header__info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
  z-index: 3;
  max-width: 700px;
}

.header__info > .header__my-name {
  font-weight: 700;
  font-size: 40pt;
  padding: 10px 0;
  letter-spacing: 2.5px;
  color: var(--primary-color);
  text-shadow: 0 0 7px var(--secondary-color);
}

.header__info > span {
  font-size: 20pt;
}

.header__info > .header__my-job {
  font-size: 13pt;
  color: var(--text-color-shadow);
}

.header__info > .header__network {
  margin-top: 37px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  position: relative;
}

.header__network > .header__list {
  width: 75px;
  height: 70px;
  border-radius: 10px;
  text-align: center;
  line-height: 70px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.4s ease;
  transition-property: transform;
}

.header__network > .header__list:hover {
  transform: scale(1.05);
}

.header__list > .header__link {
  display: block;
  font-size: 40px;
  color: var(--primary-color);
}
.header__link > img {
  display: block;
  width: 40px;
  margin: auto;
  margin-top: 15px;
}
/* -- Balls -- */

.header__network > .ball {
  height: 35px;
  width: 35px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.header__network > .ball.number-1 {
  top: 0;
  left: 10px;
  background: radial-gradient(
    circle,
    rgba(196, 48, 43, 1) 0%,
    rgba(221, 9, 2, 1) 51%,
    rgba(196, 48, 43, 1) 100%
  );
  box-shadow: 0px 0px 25px red;
  z-index: -1;
}

.header__network > .ball.number-2 {
  bottom: 10px;
  left: 49%;
  height: 30px;
  width: 30px;
  background: radial-gradient(
    circle,
    rgba(242, 247, 7, 1) 0%,
    rgba(255, 221, 18, 1) 69%,
    rgba(255, 185, 5, 1) 100%
  );
  box-shadow: 0px 0px 25px yellow;
  z-index: -2;
}

.header__network > .ball.number-3 {
  top: 0;
  right: -10px;
  height: 35px;
  width: 35px;
  background: rgb(247, 7, 213);
  background: radial-gradient(
    circle,
    rgba(247, 7, 213, 1) 0%,
    rgba(220, 20, 226, 1) 69%,
    rgba(107, 43, 196, 1) 100%
  );
  box-shadow: 0px 0px 25px rgba(247, 7, 213, 1);
  z-index: -3;
}

/*Header Image*/
#header > .header__img {
  flex: 1;
  max-width: 660px;
  min-width: 250px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.header__img > .header__my-img {
  width: 70%;
  position: relative;
  z-index: 1;
}

.header__img > .header__img-shadow {
  position: absolute;
  left: 0px;
  top: -40px;
  width: 90%;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--primary-color-shadow)
  );
  z-index: 0;
  transition:
    transform,
    0.4s ease;
}

.header__img > .header__triangle-img {
  width: 22%;
  z-index: 2;
  position: absolute;
  left: 46px;
  top: -20px;
  transform: rotate(-85deg);
  animation: animateTriangle 4s ease infinite;
}

.header__img > .header__pattern-img {
  position: absolute;
  width: 28%;
  z-index: 0;
  right: 15px;
  bottom: -10px;
  transform: rotate(80deg);
  animation: animatePattern 5s ease infinite;
}

/* ABOUT ME SECTION */

#about_me {
  position: relative;
  width: 100%;
  padding: 20px var(--default-padding);
  background: linear-gradient(
    90deg,
    rgba(5, 64, 53, 1) 0%,
    rgba(9, 110, 91, 1) 70%,
    rgba(13, 154, 128, 1) 100%
  );
  color: var(--text-color);
}

.about_me__title {
  letter-spacing: 3px;
  font-size: var(--heading-font-size);
  margin: 25px 0;
}

.about_me__info {
  width: 100%;
  font-size: var(--info-font-size);
  line-height: 23pt;
  max-height: 235px;
  overflow: auto;
  padding-right: 8px;
}

.about_me__link {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  display: block;
  padding: 10px 20px;
  margin: 25px 0;
  font-weight: 700;
  border-left: 2px solid var(--text-color);
  border-right: 2px solid var(--text-color);
  width: fit-content;
  transition: 0.8s ease;
  transition-property: color, background-color;
}

.about_me__link:hover {
  background-color: white;
  color: var(--primary-color-dark);
}

/* SKILLS SECTION */

section {
  padding: 45px 20px;
}

#skills {
  background-image: linear-gradient(#000a, #000), url("../img/wallpaper.jpg");
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.skills__title {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 15px 45px;
  border: 5px solid var(--primary-color);
  color: var(--primary-color);
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  font-weight: 700;
  transition: 0.4s ease;
}

#achievements {
  border: 3px dashed #39e8c7;
  background-color: rgb(12 116 97 / 55%);
}

#skills > .skill-container,
#achievements {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.skill-title,
.achievements__title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 18pt;
}

section .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 70%;
  margin: auto;
}

.card-container > .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30%;
  max-width: 270px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: var(--secondary-color-shadow);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}

.card .card__image {
  width: 50%;
  border-radius: 10px;
}

.card > .card__info {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18pt;
  letter-spacing: 3px;
}

.achievements__card > .card__info {
  font-size: 14pt;
}

/*----> PORTFOLIO SECTION <----*/

#portfolio {
  background-image: linear-gradient(#000a, #000c), url("../img/wallpaper1.jpg");
  background-position: center;
  padding: 0;
  padding-bottom: 80px;
}

#portfolio > .portfolio__heading {
  text-align: center;
  background-color: var(--secondary-color-shadow);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 30px 0;
  border-radius: 0px 0px 30px 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 22pt;
  color: var(--primary-color);
}

.portfolio__projects {
  width: 90%;
  margin: auto;
  margin-top: 80px;
  border-radius: 25px;
  padding: 50px 30px;
  background-color: rgba(0, 0, 0, 0.433);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.portfolio__projects > .portfolio__project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 40px;
}

.portfolio__img {
  flex: 0.7;
  text-align: center;
  border-radius: 5px;
  border: 5px inset var(--primary-color);
  transition: 0.4s ease;
}

.portfolio__project:nth-child(2n + 1):hover > .portfolio__img {
  transform: perspective(150px) rotateY(4deg);
}

.portfolio__project:nth-child(2n) > .portfolio__img {
  order: 2;
}

.portfolio__project:nth-child(2n) > .portfolio__description {
  order: 1;
}

.portfolio__project:nth-child(2n):hover > .portfolio__img {
  transform: perspective(150px) rotateY(-4deg);
}

.portfolio__description {
  flex: 1;
  text-align: center;
  color: var(--text-color);
}

.portfolio__description > .portfolio__title {
  font-size: 20pt;
  margin: auto;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 500;
}

.portfolio__description > .portfolio__info {
  margin: auto;
  font-size: 15pt;
  color: var(--text-color-shadow);
}

.portfolio__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.portfolio__link {
  width: fit-content;
  font-weight: 500;
  font-size: 14pt;
  margin: auto;
  padding: 15px 25px;
  transition: 0.6s ease;
  transition-property: background, color, border-color;
}

.portfolio__link.demo-link {
  border-right: 4px solid rgb(12, 116, 97);
  border-left: 4px solid rgb(12, 116, 97);
}

.portfolio__link.demo-link:hover {
  background: rgb(12, 116, 97);
}

.portfolio__link.youtube-link {
  border-right: 4px solid #c4302b;
  border-left: 4px solid #c4302b;
}

.portfolio__link.youtube-link:hover {
  background: #c4302b;
}

.portfolio__link.github-link {
  border-right: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
}

.portfolio__link.github-link:hover {
  background: #000000;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
}

/*----->   FOOTER SECTION   <-----*/

#footer {
  background-color: var(--secondary-color);
  margin: auto;
  padding: 50px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.footer__title {
  margin: auto;
  font-size: 21pt;
  letter-spacing: 5px;
  width: fit-content;
  text-transform: uppercase;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px auto;
  gap: 15px;
}

.footer__link {
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  transition: 0.6s ease background-color;
}

.footer__link > i {
  color: var(--primary-color);
  font-size: 30pt;
  line-height: 70px;
  transition: 0.6s ease color;
}

.footer__link:hover {
  background-color: var(--primary-color);
}
.footer__link:hover > i {
  color: var(--secondary-color);
}

.footer__info {
  letter-spacing: 1.5px;
  font-size: 12pt;
  font-weight: 500;
  margin: auto;
}

.footer__small {
  font-size: 8pt;
  color: var(--text-color-shadow);
}

.red-color {
  font-weight: 700;
  color: #ed0e28;
}

.hidden {
  display: none !important;
}

.scale-element {
  transform: scale(1.06) !important;
}

.badge {
  padding: 1px 3px;
  border-radius: 4px;
  font-size: 6pt;
  position: absolute;
  right: -24px;
  top: -5px;
}

.new-badge {
  background: var(--blue-green-mixed);
  color: var(--secondary-color);
}

.card {
  cursor: pointer;
  transition: 0.4s ease transform;
}

.card:hover {
  transform: scale(1.05);
}

.card:focus {
  outline: none;
}
